---
// Footer customized for Abhishek Singh
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">&copy; 2025 Abhishek Singh</div>
  <div class="inline opacity-75">Developed by <span class="font-bold">Abhishek Singh</span> ❤️</div>
</footer>
<style></style>
